<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.temple.mcireminderapps.advancedv2">

    <uses-permission android:name="android.permission.USER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ADVANCED"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.temple.mci_res_lib2.activities.AlarmListActivity" />
        <activity android:name="edu.temple.mci_res_lib2.activities.AlarmDetailActivity" />
        <activity android:name="edu.temple.mci_res_lib2.activities.CompletionCameraActivity" />
        <activity android:name="edu.temple.mci_res_lib2.activities.CompletionPromptActivity" />
        <activity android:name="edu.temple.mci_res_lib2.activities.CompletionConfirmationActivity" />
        <activity android:name="edu.temple.mci_res_lib2.activities.TaskPromptActivity" />

        <receiver android:name="edu.temple.mci_res_lib2.alarms.AlarmReceiver"
            android:enabled="true" />

        <receiver android:name="edu.temple.mci_res_lib2.alarms.ScreenUnlockReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>